<div class="panel-heading">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-xs-5">
  <div class="input-group">
    <span class="input-group-addon" id="lblName">Name:</span>
    <input type="text" class="form-control" aria-describedby="lblName" [(ngModel)]="userMage.name">
  </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-3">
    <!-- Extra small button group -->
  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{userMage.school}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let school of schoolsOfMagic"><a href="#">{{school}}</a></li>
    </ul>
  </div>
</div>
<div class="col-lg-2 col-md-2 col-xs-2">
  Level({{userMage.level}})
</div>
</div>
