<div class="container">
  <div class="row"><app-wizard-summary-panel [userMage]="this.wizard" class="panel panel-primary"></app-wizard-summary-panel></div>
  <div class="row"><app-wizard-stats-panel [userMage]="this.wizard" class="col-lg-4 col-md-4 col-xs-4 panel panel-info"></app-wizard-stats-panel><app-wizard-spells-panel [userMage]="this.wizard" class="col-lg-8 col-md-8 col-xs-8 panel panel-info"></app-wizard-spells-panel></div>
  <div class="row"><app-wizard-equipment-panel [userMage]="this.wizard" class="panel panel-info"></app-wizard-equipment-panel></div>
  <div class="modal fade" id="spellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <app-spell-dialog-modal ></app-spell-dialog-modal>
  </div>
</div>
