<div class="dialog modal-dialog panel panel-info" role="document">
  <div class="modal-content">
    <header class="content modal-header panel-heading">
      <div class="title">
        Record Game Results<span class="exit-button close" data-dismiss="modal" aria-label="Close">x</span>
      </div>
    </header>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
          <strong>Experience Gained: </strong>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
          <input type="number" class="form-control" min="0" max="9999" aria-describedby="Experience Gained" [(ngModel)]="experience">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-xs-8">
          Wizard was a Casaulty:
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
          <button class="btn btn-primary" aria-label="Add" (click)="addWizardCasaulty()">Add Casaulty</button>
        </div>
      </div>
      <div class="row" *ngIf="apprenticePresent()">
        <div class="col-lg-8 col-md-8 col-xs-8">
          Apprentice was a Casaulty:
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
          <button class="btn btn-primary" aria-label="Add" (click)="addApprenticeCasaulty()">Add Casaulty</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
          Add Casualties
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
          <select [(ngModel)]="this.selectedWarbandMember" class="btn btn-default dropdown-toggle">
            <option *ngFor="let member of userMage.warbandMembers" [ngValue]="member">{{member.name}}</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
          <button class="btn btn-primary" aria-label="Add" (click)="addCasaulty()">Add</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4">
          Add Treasure
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
          <button class="btn btn-primary" aria-label="Add" (click)="addTreasure()">Open Treasure</button>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4">
          Treasure Found: {{treasureFound}}
        </div>
      </div>
      <div class="row">
        <span class="results" *ngFor="let action of actionLog">{{action}}<br></span>
      </div>
      <div class="row">
        <button class="btn btn-primary" data-dismiss="modal" aria-label="Apply" (click)="resetWindow()">Cancel</button>
        <button class="btn btn-primary pull-right" data-dismiss="modal" aria-label="Apply" (click)="applyResults()">Apply</button>
      </div>
    </div>
  </div>
</div>
