<div class="panel-heading"  > Apprentice </div>
<div class="panel-body" >
  <button class="btn btn-primary pull-right" *ngIf="!apprenticePresent()" (click)="addApprentice()"><span class="glyphicon glyphicon-plus"></span> Add Apprentice(200g)</button>
  <table class="table table-hover table-bordered" *ngIf="apprenticePresent()">
    <th>Move</th><th>Fight</th><th>Shoot</th><th>Armor</th><th>Will</th><th>Health</th><th>Remove</th>
    <tr ><td>{{userMage.apprentice.move}}</td><td>{{userMage.apprentice.fight}}</td><td>{{userMage.apprentice.shoot}}</td><td>{{userMage.apprentice.armor}}</td><td>{{userMage.apprentice.will}}</td><td>{{userMage.apprentice.health}}</td><td><button type="button" class="btn btn-primary" ><span class="glyphicon glyphicon-minus"></span></button></td></tr>
  </table>
</div>
