<div class="dialog modal-dialog" role="document">
  <div class="modal-content">
    <header class="content modal-header">
      <div class="title">
        Purchase new Items<span class="exit-button close" data-dismiss="modal" aria-label="Close">x</span>
      </div>
    </header>
    <div class="modal-body">
      Select an iteml to add to your wizard's inventory.  Item Slots available ({{userMage.openItemSlots}})
      <p></p>
      <table class="table table-hover table-bordered">
        <th>Item</th><th>Description</th><th>  Bonus  </th><th>Cost</th><th>Add Item</th>
        <tr *ngFor="let item of getAvailableItems()"><td>{{item.name}}</td><td>{{item.description}}</td><td>{{item.bonusType}} : {{item.bonusNum}}</td><td>{{item.cost}}</td><td><button type="button" class="btn btn-primary" (click)="addItem(item)"><span class="glyphicon glyphicon-plus"></span></button></td></tr>
      </table>

    </div>
  </div>
</div>
