<div class="panel-heading">Spells</div>
<div class="panel-body">
  <span class="pull-left bold">Spell Slots Available: <span *ngFor="let kvp of getSpellSlotsForUI()">{{kvp.key}}({{kvp.value}})   </span> </span>
  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#spellModal"><span class="glyphicon glyphicon-plus"></span> Add Spell</button>
  <table class="table table-hover table-bordered">
    <th>Spell</th><th>Description</th><th>School</th><th>Casting Roll</th><th>Remove Spell</th>
    <tr *ngFor="let spell of userMage.spells"><td>{{spell.name}}</td><td>{{spell.description}}</td><td>{{spell.school}}</td><td>{{getSpellCost(spell)}}</td><td><button type="button" class="btn btn-primary" (click)="removeSpell(spell)"><span class="glyphicon glyphicon-minus"></span></button></td></tr>
  </table>
</div>
