<div class="panel-heading"  > Apprentice </div>
<div class="panel-body" >
  <button class="btn btn-primary pull-right" *ngIf="!apprenticePresent()" (click)="addApprentice()"><span class="glyphicon glyphicon-plus"></span> Add Apprentice(200g)</button>
  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#minionModal"><span class="glyphicon glyphicon-plus"></span> Add Minion</button>

  <table class="table table-hover table-bordered" >
    <th>Name</th><th>Move</th><th>Fight</th><th>Shoot</th><th>Armor</th><th>Will</th><th>Health</th><th>Remove</th>
    <tr *ngIf="apprenticePresent()"><td>{{userMage.apprentice.name}}</td><td>{{userMage.apprentice.move}}</td><td>{{userMage.apprentice.fight}}</td><td>{{userMage.apprentice.shoot}}</td><td>{{userMage.apprentice.armor}}</td><td>{{userMage.apprentice.will}}</td><td>{{userMage.apprentice.health}}</td><td><button type="button" class="btn btn-primary" (click)="removeApprentice()"><span class="glyphicon glyphicon-minus"></span></button></td></tr>
    <tr *ngFor="let spell of userMage.warband" ></tr>
  </table>
</div>
