<div class="panel-heading"  > Warband </div>
<div class="panel-body" >
  <button class="btn btn-primary pull-right" *ngIf="!apprenticePresent()" (click)="addApprentice()"><span class="glyphicon glyphicon-plus"></span> Add Apprentice({{getApprenticeCost()}})</button>
  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#minionModal"><span class="glyphicon glyphicon-plus"></span> Add Minion</button>

  <table class="table table-hover table-bordered" >
    <th>Name</th><th>Move</th><th>Fight</th><th>Shoot</th><th>Armor</th><th>Will</th><th>Health</th><th>Notes</th><th>Remove</th>
    <tr *ngIf="apprenticePresent()"><td>{{userMage.apprentice.name}}</td><td>{{userMage.apprentice.move}}</td><td>{{userMage.apprentice.fight}}</td><td>{{userMage.apprentice.shoot}}</td><td>{{userMage.apprentice.armor}}</td><td>{{userMage.apprentice.will}}</td><td>{{userMage.apprentice.health}}</td><td>{{userMage.apprentice.status}}</td><td><button type="button" class="btn btn-primary" (click)="removeApprentice()"><span class="glyphicon glyphicon-minus"></span></button></td></tr>
    <tr *ngFor="let minion of userMage.warbandMembers" ><td>{{minion.name}}</td><td>{{minion.move}}</td><td>{{minion.fight}}</td><td>{{minion.shoot}}</td><td>{{minion.armor}}</td><td>{{minion.will}}</td><td>{{minion.health}}</td><td>{{minion.getNotes()}}<br><strong>{{minion.status}}</strong></td><td><button type="button" class="btn btn-primary" (click)="removeMinion(minion)"><span class="glyphicon glyphicon-minus"></span></button></td></tr>
  </table>
</div>
